.card {
  border: solid black 1px;
  border-radius: 5px;
  flex-grow: 1;
  aspect-ratio: 1/1;
  /* max-width: 50%; BUG FIX ALERT */
}

.top-half {
  height: 50%;
  width: 100%;
}
.bottom-half {
  border-radius: 5px;
  height: 50%;
  display: flex;
  align-items: center;
}

.viewport-boundary {
  height: min(100vh, 100vw);
  width: min(100vh, 100vw);
  display: flex;
  justify-content: center;
  align-items: center;
}

.simulated-viewport {
  height: min(50vh, 50vw);
  width: min(50vh, 50vw);
  background-color: rgba(0, 0, 0, 0.1);
}

.app-container {
  width: 100%;
  height: 100%;
  transition: height 1s, width 1s;
}
